.article-card-container{
    max-width: 800px;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 12px 24px;
    margin: 32px auto;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author-info{
    display: flex;
    align-items: center;
    gap: 8px;
}

.avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.text-info .name{
    font-weight: bold;
    font-size: 20px;
}

.text-info .username{
    color: #666;
    font-size: 16px;
}

.time{
    color: #888;
}

.topic{
    font-size: 24px;
    margin-top: 16px;
}

.overview{
    font-size: 16px;
    color: #4c4c4c;
}

.performance{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 24px;
}

.performance .item{
    display: flex;
    align-items: center;
    gap: 8px;
}

@media screen and (max-width:768px){
    .article-card-container{
        padding: 12px;
    }
    .performance{
        gap: 16px;
    }
    .item{
        gap: 4px;
    }
}